.nav-main{
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.searching{
    display: flex;
    gap: 1rem;
}

.kat{
    display: flex;
    align-items: center;
    justify-content: center;
}

.serch{
    display: flex;
    align-items: center;
    /* position:absolute; */
}




.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}

.user-item {
  display: flex;
  align-items: center; 
  gap: 6px; 
}

.user-item i {
  font-size: 1.2rem;
  line-height: 1; 
}

.user-item h5 {
  margin: 0; 
  font-size: 1rem; 
}


.glas{
    position: relative;
    left: -10%;
    padding-right: 3px;
}

.inp{
    padding-right: 1.5rem;
}


/*############################ */


.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.3rem;
}


.box{
  width: 200px;
  height: 300px;
  /* background-color: lightblue; */
  border-radius: 1rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}

.bottom p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img{
    background-color: #e9edc9;
    height: 150px;
    border-radius: 1rem 1rem 0  0;
    overflow: hidden;
    margin-top: 0;
}



.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;  
  display: inline-block;
  transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.yoq{
    width: 30px;
    height: 30px;
    background-color: #ccd5ae;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 15%;
    left: 80%;
    z-index: 10;

}

.bottom p {
    font-size: 13px;
}

button{
     background-color: green;
}


.favorit{
    width: 300px;
    height: 400px;
    background-color: lightblue;
    z-index: 999;
    position: fixed;
    top: 15%;
    left: 70%;
}

.yesfav{
    display: block;
}

.nofav{
    display: none;
}