header {
    margin: 0 auto;
}

.nav-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0096FF;
    /* background-color: #D3D3D3; */
    margin: 0 auto;
}

.logo {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0096FF;
}

.searching {
    display: flex;
    gap: 1rem;
}

.kat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.serch {
    display: flex;
    align-items: center;
    /* position:absolute; */
}




.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}

.user-item:hover {
    background-color: #D3D3D3;
}

.user-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 1rem;
    border-radius: 5px;
}

.user-item i {
    font-size: 1.2rem;
    line-height: 1;
}

.user-item h5 {
    margin: 0;
    font-size: 1rem;
}


.glas {
    position: relative;
    left: -10%;
    padding-right: 3px;
}

.inp {
    padding-right: 1.5rem;
}


/*############################ */



.showdiv {
    position: relative;
    left: 10%;
    bottom: 100%;
    z-index: 9999;
    background-color: lightblue;
    border: none;

}