<main class="container">
    @for (item of serv.product(); track $index) {

    <div class="box">

        <div class="yoq" (click)="serv.addfav(item.id, item) ">
            <i class="bi" [class]="item.heart ? 'bi-heart-fill' : 'bi-heart' " (click)="serv.heartt(item.id-1)"></i>
        </div>

        <div class="img">
            <img [src]="item.image" alt="">
        </div>

        <div class="bottom">
            <p>{{item.price |currency: 'USD'}}</p>
            <p>{{item.title}}</p>
        </div>

        <button type="button" class="btn btn-outline-success" (click)="serv.addbas(item.id, item)">Savatga joylash <i
                class="bi bi-basket"></i></button>

    </div>
    }
</main>